{% load static %}
<script src="https://cdn.jsdelivr.net/npm/sweetalert2@11"></script>
<script>
    {% if messages %}
        {% for message in messages %}
            {% if message.tags %}
                {% if message.tags == 'success' %}
                    var icon = 'success';
                    var title = 'Success';
                {% elif message.tags == 'error' %}
                    var icon = 'error';
                    var title = 'Error';
                {% else %}
                    var icon = 'info';
                    var title = 'Info';
                {% endif %}

                Swal.fire({
                    position: "top-end",
                    icon: icon,
                    title: "{{ message }}",
                    showConfirmButton: false,
                    timer: 1500
                });
            {% endif %}
        {% endfor %}
    {% endif %}
</script>



<script src="{% static 'assets/js/jquery.min.js' %}"></script>
<script src="{% static 'assets/js/bootstrap.bundle.min.js' %}"></script>
<script src="{% static 'assets/js/jquery.hoverIntent.min.js' %}"></script>
<script src="{% static 'assets/js/jquery.waypoints.min.js' %}"></script>
<script src="{% static 'assets/js/superfish.min.js' %}"></script>
<script src="{% static 'assets/js/owl.carousel.min.js' %}"></script>
<script src="{% static 'assets/js/bootstrap-input-spinner.js' %}"></script>
<script src="{% static 'assets/js/jquery.plugin.min.js' %}"></script>
<script src="{% static 'assets/js/jquery.magnific-popup.min.js' %}"></script>
<script src="{% static 'assets/js/jquery.countdown.min.js' %}"></script>
<!-- Main JS File -->
<script src="{% static 'assets/js/main.js' %}"></script>
<script src="{% static 'assets/js/demos/demo-4.js' %}"></script>