{% load static %}
<div class="header-bottom sticky-header">
    <div class="container">
        <div class="header-left">
            <div class="dropdown category-dropdown">
                <a href="#" class="dropdown-toggle" role="button" data-toggle="dropdown" aria-haspopup="true"
                    aria-expanded="false" data-display="static" title="Browse Categories">
                    Browse Categories <i class="icon-angle-down"></i>
                </a>

                <div class="dropdown-menu">
                    <nav class="side-nav">
                        <ul class="menu-vertical sf-arrows">
                            {% for i in cate %}

                            {% if not i.children.all %}
                            <li><a href="{% url 'category_product' i.slug %}">{{i.name}}</a></li>
                            {% else %}

                            <li class="megamenu-container">
                                <a class="sf-with-ul" href="#">{{i.name}}</a>

                                <ul>

                                    {% for sc in i.children.all %}
                                    <li style="color: black;"><a href="{% url 'category_product' sc.slug %}">{{ sc.name }}</a></li>
                                    {% endfor %}

                                </ul>
                            </li>
                            {% endif %}

                            {% endfor %}
                        </ul><!-- End .menu-vertical -->
                    </nav><!-- End .side-nav -->
                </div><!-- End .dropdown-menu -->
            </div><!-- End .category-dropdown -->
        </div><!-- End .header-left -->

     

        <div class="header-right">
            <i class="la la-lightbulb-o"></i>
            <p>Clearance<span class="highlight">&nbsp;Up to 30% Off</span></p>
        </div>
    </div><!-- End .container -->
</div><!-- End .header-bottom -->