{% extends 'base.html' %}

{% load crispy_forms_tags %}
{% block content %}

  <!-- PAGE TITLE
    ================================================== -->
<header class="py-8 py-md-11" style="background-image: none;">
    <div class="container text-center py-xl-2">
        <h1 class="display-4 fw-semi-bold mb-0">Forgot Password</h1>

    </div>
    <!-- Img -->
    <img class="d-none img-fluid" src="...html" alt="...">
</header>

<!-- LOGIN
    ================================================== -->
<div class="container mb-11">
    <div class="row gx-0">
        <div class="col-md-7 col-xl-4 mx-auto">
            <!-- Form Login -->
            <form method="post">
                {% csrf_token %}

                <!-- Email -->
                <div class="form-group mb-5">
                    <label>{{field.label_tag}}</label>
                    <p>{{ form|crispy }}</p>
                </div>




                <!-- Submit -->
                <button class="btn btn-block btn-primary" type="submit">
                    SEND CONFIRMATION LINK
                </button>
            </form>





        </div>
    </div>
</div>

{% endblock content %}
